body {
    overflow-x: hidden;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

/* stilovi za header */
header {
    position: relative;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; /* Poravnanje logo-a lijevo i navigacije desno */
    align-items: center; /* Vertikalno centriranje*/
    padding: 20px 30px; /* Povećanje udaljenosti s lijeve i desne strane */
    height: 70px;
    z-index: 20; /* Header ima viši z-index da bi bio iznad search bara */
}

/* Stil za logo */
header .logo {
    width: 230px;
    height: 35px;
    margin-left: 75px;
    margin-bottom: 5px;
}
.flag-container {
    display: flex;
    align-items: center;  /* Poravnava sliku i tekst vertikalno */
    gap: 0px;  /* Razmak između slike i teksta */
}

/* Stil za navigaciju */
nav {
    display: flex;
    flex-direction: column; /* Poravnava navigaciju u stupce */
    justify-content: center;
    align-items: flex-end; 
    gap: 5px; /* Razmak između gornje i donje navigacije */
    padding-right: 80px; 
    padding-bottom: 16px;
}


.bottom-nav{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    gap: 30px;
}

/* Stil za gornje i donje navigacije */
nav ul {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100; 
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px; 
}

/* Poravnanje svih stavki u navigaciji */
nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 14px;
    font-weight: normal; 
    color: #212529;
    text-decoration: none;
    transition: color 0.3s;
    padding-left: 10px; /* Razmak od slike */
}

nav ul li a:hover {
    color: #0077b6;
}

/* Razmak između gornje i donje navigacije */
nav ul + ul {
    margin-top: 10px;
}

/* Hero section */
.hero {
    position: relative;
    background-size: cover; /* Pokriva ceo prostor bez razmaka */
    height: 535px; /* Visina sekcije */
    width: 100%; /* 100% ekrana */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden; /* Sakriva sve izvan dimenzija */
    z-index: 1;
}





.hero h2 {
    font-size: 48px;
    margin: 0;
}

/* Glavni kontejner za pretragu */
.search-container {
    font-family:'Barlow Semi Condensed', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;  /* Manji razmak između elemenata */
    width: 95%;  /* Smanjivanje širine search bara */
    max-width: 1020px;
    margin: 0 auto;
    margin-top: -160px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 13px;
    position: relative;
    z-index: 10;
}

/* Smanjenje fonta */
.input-field span, .date-field span {
    font-size: 11px;  /* Manji font */
   
}
.radio-buttons label{
    font-size: 15px;
}
.input-field select, .date-field input, .search-button {
    font-size: 14px;  
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* Polja u search bar-u */
.input-field, .date-field {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 130px;  
    padding: 15px;
    border: 1px solid #ebe7e7;
    border-radius: 5px;
    margin-right: 0;  /* Nema razmaka između polja */
    flex-grow: 1;
}

/* Uklanjanje razmaka između polja za stanice */
.input-field, .input-field select{
    margin-right: 0;
    color: #0d6efd;
    margin-left: 0;
    
}

/* Swap button stil */
.swap-button {
    background: #007bff;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: none;
    cursor: pointer;  /* Kursor postaje ruka kad je iznad elementa, ukazujući da je klikabilan. */
    flex-grow: 0; /* Element neće rasti da popuni dodatni prostor unutar flex-containera. */
    
}

/* Search button */
.search-button {
    background: #0d6efd;
    color: #fff;
    padding: 15px 26px;  /* Povećanje prostora unutar dugmeta */
    font-size: 16px;  
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s; /* Omogućava glatku promjenu pozadine */
    flex-grow: 0;
}


/* Hover efekat za dugme */
.search-button:hover {
    background: #0056b3;
}

/* Za radio buttons (Jednosmjerna i Povratna karta) */
.radio-buttons {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 5px;  /* Smanjen razmak između radio opcija i ostalih polja */
    flex-wrap: wrap;  /* Omogućava prelazak u novi red */
}
.checkbox-container label {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);  /* Poluproziran tekst*/
}

/* responsivni dizajn */
@media (max-width: 768px) {
    .search-container {
        flex-direction: column;  /* prebacuje sve u vertikalni raspored */
        align-items: center;
        width: 100%;
    }

    .input-field, .date-field {
        width: 100%;
    }
}

/* stil za dropdown */
.dropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown > li {/* selekt samo ne ugnjezdenih li*/
    position: relative;
    display: inline-block;
}

.dropdown a {
    text-decoration: none;
    color: #212529;
    padding: 5px;
    display: flex;
    align-items: center;
}

/* ikona strelice */
.dropdown a i {
    margin-left: 6px;  /* razmak između teksta i ikone */
    font-size: 10px;
}

/* skriva padajući meni */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #7b858d;
    min-width: 40px;
    max-width: 55px;
    z-index: 1;
}

/* stil za stavke u padajućem meniju */
.dropdown-menu li {
    padding: 0px 6px;
}

.dropdown-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

/* kada se pređe mišem, meni postaje vidljiv */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* promena boje stavki kada se pređe mišem */
.dropdown-menu li a:hover {
    background-color: #474b4e;
}

.image-container {
    display: flex; /* raspoređuje slike u jedan red */
    justify-content: space-between; /* jednaki razmak između slika */
    align-items: center; /* poravnava slike vertikalno */
    gap: 15px; 
    flex-wrap: wrap; 
    margin-top: 110px; 
    padding: 0 40px; 
    max-width: 1200px; 
    margin-left: auto; 
    margin-right: auto;
    z-index: 9;
}

.image-item {
    text-align: center; 
    width: 22%;  /* smanjuje širinu */
}

.image-container img {
    width: 100%;  /* slike se prilagođavaju širini svojih kontejnera */
    height: auto;  /* održava proporcije slika */
    max-width: 50px; /* maksimalna širina slika */
    filter: brightness(1.7); /* smanivanje svjetlosti */

    
}

.image-text {
    color: #32373b;
    margin-bottom: 4px;
    font-size: 16px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    margin-top: 10px;  /* razmak između slike i teksta */
    line-height: 1.2;
    
}
.image-description {
    margin-top: 10px;
    margin-bottom: 70px;
    font-size: 12px;
    color: #7b858d;
    line-height: 1.2; 
}


.kontejner-slika {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; /* razmak između stavki */
    justify-content: flex-start; 
    margin-top: 10px;
    padding: 0 100px;
}

.stavka-slike {
    width: calc(25% - 20px); /* cetrri stavke u jednom redu sa razmakom */
    text-align: left; /* poravnava tekst uz levu stranu */
}

.stavka-slike img {
    width: 100%; /* slika zauzima širinu stavke */
    height: auto; /* održava proporcije slike */
    margin-bottom: 5px;
}

.datum-slike {
    font-size: 13px;
    color: #32373b;
    margin-bottom: 5px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}

.tekst-slike {
    color: #0d6efd;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 1.2
}

.opis-slike {
    font-size: 14px;
    margin-top: 10px;
    color: #7b858d;
    line-height: 1.5;
    margin-bottom: 15px;
    font-family: 'Barlow Condensed', sans-serif;
}

.dugme-detaljnije {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Barlow Condensed', sans-serif;
}

.dugme-detaljnije:hover {
    background-color: #0056b3;
}
.obavještenje{
    padding-left: 100px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin-top: 100px;
    margin-bottom: 0; 
    padding-bottom: 5px; 
}
.slike-kontejner {
    display: grid;
    grid-template-columns: 50% 50%; /* prva kolona 50%, druga kolona 50% */
    gap: 10px; /* razmak između slika */
    margin-top: 0px;
    padding: 0 100px;
    align-items: stretch; /* rasteže sve slike  */
}

.slika {
    width: 100%;
    height: auto;
}

.velika img {
    width: 100%; /* popunjava širinu kontejnera */
    height: auto; /* zadržava proporcije slike */
}

.slike-male {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 slike po redu u desnoj strani */
    gap: 15px;
}

.slike-male .slika img {
    width: 100%; /* popunjava širinu svakog kontejnera */
    height: auto; /* zadržava proporcije slike */
}

.slike-kontejner img {
    display: block; /* uklanja dodatni razmak oko inline slika */
    margin: 0 auto; 
}


.slike-kontejner {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
    padding: 0 100px;
}

.slika {
    position: relative;
}

.velika img, .mala img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(70%); /* Smanjuje svetlost*/

}

.tekst-okvir {
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    bottom: 20px;
    left: 0px;
    text-align: left;
    color: #fff;
}

.tekst-okvir .već{
    background-color: #0d6efd; 
    display: block; /* postavlja element u novi red */
    padding-left: 20px;
    border-radius: 5px 5px 0 0; /* gornji zaobljeni rub */
    font-weight: 500;
    margin: 0; /* bez margina */
    font-size: 12px;
}

.tekst-okvir .cijena {
    background-color: #0d6efd; 
    display: block; /* postavlja element u novi red */
    padding-left: 20px;
    border-radius: 0 0 5px 5px; /* donji zaobljeni rub */
    font-weight: 500;
    margin: 0; 
    font-size: 20px;
    
}

.tekst-okvir h3 {
    font-size: 30px;
    font-weight: 500;
    margin: 0px  0px ;
    padding-left: 20px;
    color: #fff; 
}

.tekst-okvir .opis {
    margin: 0px ;
    padding-left: 20px;
    padding-bottom: 70px;
    font-size: 16px;
    color: #fff; 
}

.dugmić{
    position: absolute; /* nezavisno pozicioniranje */
    bottom: 25px; /* udaljenost od dna slike */
    right: 210px; /* udaljenost od desne ivice slike */
    padding: 8px 15px;
    padding-left: 20px;
    background-color: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    z-index: 20; /* dugme iznad drugih elemenata */
}

.dugmić:hover {
    background-color: rgba(6, 42, 88, 0.8);
}
/*ovdje krece css za dio ispod 5 slika*/

.layout {
    display: flex;
    width: 100%; 
    height: 100vh; /* Visina zauzima cijeli prozor preglednika */
    overflow: hidden; /* sprecava preklapanje sadržaja */
}

.text-section {
    width: 50%; /* lijeva strana 50% širine */
    padding: 50px; /* razmak unutar lijeve strane */
    padding-bottom: 400px;
    display: flex;
    line-height: 1.2; /*smanjuje razmak između linija */
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    background-color: #fff; 
}

.text-section h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 32px;
    padding-left: 50px;
    margin: 0 0 20px;

}

.text-section p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;
    padding-left: 50px;
    margin: 0 0 16px;
    max-width: 400px;
}


.image-section {
    width: 50%; /* Desna strana zauzima 50% širine */
    display: flex;
    padding-right: 60px;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.image-section img {
    width: 90%; 
    height: auto; 
    object-fit: cover; 
}

/*odavde krece css za dio sa telefonom*/



.section {
    display: flex;
    background-color: #0d6efd; 
    color: #fff;
    height: 483px; /* Visina okvira */
}

.left {
    width: 50%;
    padding: 0px;
    padding-left: 300px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 50px;
    color: #fff;
    margin-bottom: 0px;
    font-weight: 500;
}

.left p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 18px;
    color: #fff;
    max-width: 500px;
    line-height: 1.4;
    margin-bottom: 50px;
}

.store-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.store-buttons a img {
    width: 160px;
    height: 47px;
}

.qr-code img {
    width: 90px;
    height: 90px;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 280px;
    margin-right: 50px;
    padding-right: 260px;
    padding-top: 60px;
}

/*odavde krece css zadnji dio poceten str*/
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    color: #fff;
}

.footer-section {
    background-color: #0262ef;
    color: #fff;
    display: inline-flex;
    gap: 134px;
    padding: 60px;
    padding-right: 0px;
    padding-left: 100px;
    width: -webkit-fill-available;/*popunjava ekran cijeli*/
}


.footer-section h3 {
    font-family: 'Barlow Condensed', 'sans-serif';
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 6px;
    margin-top: 0px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    width: 189px;
}

.footer-section li {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    margin-bottom: 3px;
    line-height: 1.3;
}


.prijavaKorisnika {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sekcija {
    width: 30%;
}

.sekcija h3 {
    font-family: 'Barlow Condensed', 'sans-serif';
    font-size: 22px;
    color: #212529;
    font-weight: normal;
    margin-top: 48px;
    margin-bottom: 6px;
    padding: 0px;
}
.sekcija p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    padding-left: 100px;
    color: #212529;
    margin-top: 0px;
    margin-bottom: 16px;
    width: 450px;

}

.dugme123 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 100px;
}

.dugme123:hover {
    background-color: #0056b3;
}

.lista-kupci {
    list-style-type: none;
    padding: 0;
}

.lista-kupci li {
    margin-bottom: 3px;
    line-height: 1.2;
}

.lista-kupci a {
    color: #79848d;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.lista-kupci a:hover {
    text-decoration: underline;
}

.lista-centrotrans {
    list-style-type: none;
    padding: 0;
}

.lista-centrotrans li {
    margin-bottom: 3px;
    line-height: 1.2;

}

.lista-centrotrans a {
    color: #79848d;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.lista-centrotrans a:hover {
    text-decoration: underline;
}

.ikone-društvenih-mreža {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    gap: 10px; /* Razmak između ikona */
    position: relative; 
    padding-right: 100px; 
    bottom: 130px;
    
}

.ikona-mreže {
    width: 48px; /* sirina pozadine ikone */
    height: 48px; /* visina pozadine ikone */
    border-radius: 50%; 
    background-color: #7b858d; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.ikona-mreže img {
    width: 20px; /* sirina ikone */
    height: 20px; /* visina ikone */
}

.footer-bottom {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    color: #7b858d;
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-top: 48px;
    padding: 0 100px;
    margin-bottom: 40px;
    border-top: 1px solid white;
}

.footer-bottom p{
    max-width: 335px;
}

.payment-methods img {
    height: 65px;
}
